#items {
    background-color: #fff;
    text-shadow: #fff 0 1px 0;
    position: relative;
    display: block;
    height: auto;
}

#items div.item img {
    margin-bottom: 1px;
}

#items div.item {
    float: left;
    padding: 8px 17px;
    margin: 5px;
/*    margin: 10px 0 0 25px;*/
    text-align: center;
    line-height: 14px;
    color: #333;
    font-size: 10px;
    font-family: "Helvetica Neue",sans-serif;
    height: 126px;
    width: 134px;
    overflow: hidden;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.x-ie6 #items div.item,
.x-ie7 #items div.item,
.x-ie8 #items div.item {
    border-top: none;
    padding: 3px 2px;
    margin: 2px;
}

#items div.item-hover {
    background-color: #eee;
}

#items .x-item-selected {
    background-color: #D3E1F1 !important;
}

#items div.item strong {
    color: #000;
    display: block;
}

#items div.item span {
    color: #999;
}