/* 
    Document   : iconos
    Created on : 13-01-2011, 07:23:54 AM
    Author     : Edner Elvis Caceres Lazo
    Description:
        Iconos usados en la aplicacion.
*/


/* 16x16*/

.icon-add-16x16{
    background-image: url(../img/icons/common/16x16/add.png) !important;
}
.icon-edit-16x16{
    background-image: url(../img/icons/common/16x16/pencil.png) !important;
}
.icon-delete-16x16{
    background-image: url(../img/icons/common/16x16/delete.png) !important;
}
.icon-save-16x16{
    background-image: url(../img/icons/common/16x16/disk.png) !important;
    
}
.icon-cancel-16x16{
    background-image: url(../img/icons/common/16x16/cancel.png) !important;
}
.icon-computer-16x16 {
    background-image:url(../img/icons/application/16x16/computer.png) !important;
}
/*32x32*/
.icon-add-32x32{
    background-image: url(../img/icons/common/32x32/add.png) !important;
}
.icon-delete-32x32{
    background-image: url(../img/icons/common/32x32/delete.png) !important;
}
.icon-edit-32x32{
    background-image: url(../img/icons/common/32x32/pencil.png) !important;
}
.icon-save-32x32{
    background-image: url(../img/icons/common/32x32/disk.png) !important;
}
.icon-cancel-32x32{
    background-image: url(../img/icons/common/32x32/cancel.png) !important ;
}
.icon-search-32x32 {
    background-image:url(../img/icons/common/32x32/find.png) !important;
}

.icon-computer-32x32 {
    background-image:url(../img/icons/application/32x32/computer.png) !important;
}
.icon-computer-error-32x32 {
    background-image:url(../img/icons/application/32x32/computer_error.png) !important;
}
.icon-computer-active-32x32 {
    background-image:url(../img/icons/application/32x32/computer_go.png) !important;
}
.icon-computer-all-32x32 {
    background-image:url(../img/icons/application/32x32/computer.png) !important;
}
.icon-computer-free-32x32 {
    background-image:url(../img/icons/application/32x32/computer.png) !important;
}
.icon-computer-busy-32x32 {
    background-image:url(../img/icons/application/32x32/computer.png) !important;
}

.icon-user-administrator-32x32 {
    background-image:url(../img/icons/common/32x32/administrator.png) !important;
}